<div class="container">
    
    <!-- {{ users | json }} -->

    <h1>Data from parent : {{ title }}</h1>
    <h2>Counter in User Component :: {{ dataService.counter }}
        <button (click)="onIncrease()" class="btn btn-sm">Increase</button> </h2>

    <p>Some Contents</p>


<ul class="list-unstyled">
    <li class="well" *ngFor="let user of users; index as i; first as isFirst; even as isEven">
        <!-- Index  : {{ i }} <br>
        Is this First : {{ isFirst }} <br>
        Is this Even? : {{ isEven }} -->
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

                <app-user-image 
                    [user]="user" 
                    (childEvent)="moreInfo($event)" ></app-user-image>
                <!-- <img [src]="user.image" class="img-responsive img-circle">
                <hr>
                <!-- Event Binding 
                <button (click)="moreInfo(user)" class="btn btn-info btn-sm">More Info</button> -->
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <app-user-info [user]="user">
                    <header>Header info</header>
                    <h3 class="content">User Name : {{ user.firstName }}</h3>
                    <!-- <h3 id="content">User Name : {{ user.firstName }}</h3> -->
                </app-user-info>
                <!-- <h1> {{ user.firstName  + " " + user.lastName }}</h1>
                <!-- Angular Interpolation {{ }} 
                <p>Income : {{ user.income }}</p>
                <!-- Property Binding [] 
                <p>Date of Birth : <span [innerHTML]="user.dob"></span></p> -->
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <app-user-vote [user]="user"></app-user-vote>
                <!-- Total Votes : {{ user.vote }}
                <!-- <input type="number" 
                    [value]="user.vote" 
                    class="form-control"
                    (change)="onChange($event)">
                <input type="number" 
                    [value]="user.vote" 
                    class="form-control"
                    (change)="user.vote = $event.target.value">
                <!-- Using "Banana in the box"
                <input type="number" 
                    [(ngModel)]="user.vote" 
                    class="form-control"> -->
            </div>
        </div>
        <!-- <div [ngSwitch]="i" >
            <div *ngSwitchCase="'0'">Output 1</div>
            <div *ngSwitchCase="'1'">Output 2</div>
            <div *ngSwitchCase="'2'">Output 3</div>
            <div *ngSwitchDefault>Default Output </div>
        </div> -->

    </li>
</ul>
</div>