<div class="container">
  <h1>
    Hello {{title}}!
  </h1>

  <div *ngIf="authService.isAuthenticated()">
    <button class="btn btn-danger" (click)="onLogout()">Logout</button>
  </div>

  <h2>Counter in App Component :: {{ dataService.counter }}
    <button (click)="onIncrease()" class="btn btn-sm">Increase</button> </h2>

  <!-- <input type="text" [(ngModel)]="title"> -->

  <!-- <app-pipe-demo></app-pipe-demo> -->

  <div *ngIf="!authService.isAuthenticated()">
    <app-login></app-login>
  </div>

  <!-- <div *ngIf="!authService.isAuthenticated()">
    <app-register></app-register>
  </div> -->


  <!-- <app-observable-demo></app-observable-demo> -->

  <div *ngIf="authService.isAuthenticated()">
    <app-users [title]="title"></app-users>
  </div>



</div>