<div class="row">
  <div class="col-lg-10 col-md-10 col-sm-10">
    <div class="container">

      <ul class="nav navbar-nav navbar-default">
        <li *ngIf="!authService.isAuthenticated()"><a [routerLink]="['login']">Login</a></li>
        <li *ngIf="!authService.isAuthenticated()"><a [routerLink]="['register']">Register</a></li>
        <li><a [routerLink]="['pipe']">Pipe</a></li>
        <li><a [routerLink]="['observable']">Observable</a></li>
        <li><a [routerLink]="['users']">Users</a></li>
        <li><a [routerLink]="['product']">Product</a></li>
        <li><a [routerLink]="['employee']">Employee</a></li>
        <li><a [routerLink]="['lazy']">Lazy</a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2">
    <div *ngIf="authService.isAuthenticated()">
      <button class="btn btn-danger btn-sm" (click)="onLogout()">Logout</button>
    </div>
  </div>
</div>


<div class="container">
  <h1>
    Hello {{title}}!
  </h1>

  Employee Component : 
  <app-new-employee></app-new-employee>

  <hr>
  <div class="container">
    <router-outlet>
    </router-outlet>
  </div>

<br>
<hr>

Interpolation : {{ jsSnippets }} <br>
<p>Property Binding :  <span [innerHTML]="jsSnippets"></span></p>

<hr>


  <!-- "Service Instance is Singleton" -->
  <h2>Counter in App Component :: {{ dataService.counter }} <br>
  CTR in App Component :: {{ sharedService.ctr }}
    <button (click)="onIncrease()" class="btn btn-sm">Increase</button> </h2>

  <!-- <input type="text" [(ngModel)]="title"> -->

  <!-- <app-pipe-demo></app-pipe-demo> 

  <div *ngIf="!authService.isAuthenticated()">
    <app-login></app-login>
  </div>

  <!-- <div *ngIf="!authService.isAuthenticated()">
    <app-register></app-register>
  </div> -->


  <!-- <app-observable-demo></app-observable-demo>

  <div *ngIf="authService.isAuthenticated()">
    <app-users [title]="title"></app-users>
  </div> -->



</div>